{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
{{ form_start(form) }}
{{ form_row(form.nom)}}
{{ form_row(form.description)}}
{{ form_row(form.age_mini)}}
		<button type="submit">
			Envoyer
		</button>
	</div>


	{{ form_end(form)}}
{% endblock %}
